{
  "presets": [["env", { "targets": { "node": true } }]],
  "env": {
    "commonjs": {
      "presets": ["env"]
    },
    "umd": {
      "presets": [["env", { "es2015": { "modules": false } }]]
    }
  }
}
